@using Newtonsoft.Json
@model grocerymart.ViewModel.CartViewModel

@{
    var subtotal = Model.ProducsInCart.Sum(product => product.Price * product.Quantity);

    var listAddresses = Context.Session.GetString("Addresses");
    var addresses = new List<AddressModel>();
    if (!string.IsNullOrEmpty(listAddresses))
    {
        addresses = JsonConvert.DeserializeObject<List<AddressModel>>(listAddresses);
    }
}
<link rel="stylesheet" href="~/css/checkout.css"/>

<div class="container">
    <div class="checkout-container">
        <div class="row">
            <div class="left">
                <div class="cart-info">
                    <div class="cart-info__top">
                        <h2 class="cart-info__heading cart-info__heading--lv2">
                            1. Shipping, arrives
                            between @DateTime.Now.ToString("ddd, MMM dd") — @DateTime.Now.AddDays(7).ToString("ddd, MMM dd")
                        </h2>
                        @* <a class="cart-info__edit-btn" href="~/shipping"> *@
                        @*     <img class="icon" src="~/assets/icons/edit.svg" alt=""> *@
                        @*     Edit *@
                        @* </a> *@
                    </div>

                    @foreach (var address in addresses)
                    {
                        <article class="payment-item">
                            <div class="payment-item__info">
                                <h3 class="payment-item__title">@address.Type</h3>
                                <p class="payment-item__desc">@address.Address, @address.City, @address.State</p>
                            </div>
                        </article>
                    }
                </div>

                <div class="cart-info">
                    <h2 class="cart-info__heading cart-info__heading--lv2">2. Shipping method</h2>
                    <div class="cart-info__separate"></div>
                    <h3 class="cart-info__sub-heading">Available Shipping method</h3>

                    <!-- Payment item 3 -->
                    <label>
                        <article class="payment-item payment-item--pointer">
                            <img src="~/assets/img/delivery-1.png" alt="" class="payment-item__thumb">
                            <div class="payment-item__content">
                                <div class="payment-item__info">
                                    <h3 class="payment-item__title">Fedex Delivery</h3>
                                    <p class="payment-item__desc payment-item__desc--low">
                                        Delivery: 2-3 days work
                                    </p>
                                </div>

                                <span class="cart-info__checkbox payment-item__checkbox">
                                    <input type="radio" name="delivery-method" checked
                                           class="cart-info__checkbox-input payment-item__checkbox-input">
                                    <span class="payment-item__cost">Free</span>
                                </span>
                            </div>
                        </article>
                    </label>

                    <!-- Payment item 4 -->
                    <label>
                        <article class="payment-item payment-item--pointer">
                            <img src="~/assets/img/delivery-2.png" alt="" class="payment-item__thumb">
                            <div class="payment-item__content">
                                <div class="payment-item__info">
                                    <h3 class="payment-item__title">DHL Delivery</h3>
                                    <p class="payment-item__desc payment-item__desc--low">
                                        Delivery: 2-3 days work
                                    </p>
                                </div>

                                <span class="cart-info__checkbox payment-item__checkbox">
                                    <input type="radio" name="delivery-method"
                                           class="cart-info__checkbox-input payment-item__checkbox-input">
                                    <span class="payment-item__cost">@string.Format("{0:N0}đ", 30000)</span>
                                </span>
                            </div>
                        </article>
                    </label>
                </div>
            </div>
            <div class="right">
                <div class="cart-info">
                    <h2 class="cart-info__heading cart-info__heading--lv2">Payment Details</h2>
                    @* <p class="cart-info__desc"> *@
                    @*     Complete your purchase item by providing your payment details order. *@
                    @* </p> *@
                    @* <form action="" method="post" class="form cart-info__form"> *@
                    @*     <div class="form__group"> *@
                    @*         <label for="email" class="form__label form__label--medium">Email Address</label> *@
                    @*         <div class="form__text-input"> *@
                    @*             <input type="email" name="email" id="email" placeholder="Email" class="form__input" *@
                    @*                    required> *@
                    @*             <img src="~/assets/icons/form-error.svg" alt="" class="form__input-icon-error"> *@
                    @*         </div> *@
                    @*         <p class="form__error">Password must be at least 6 characters</p> *@
                    @*     </div> *@
                    @*     <div class="form__group"> *@
                    @*         <label for="card-holder" class="form__label form__label--medium"> *@
                    @*             Card Holder *@
                    @*         </label> *@
                    @*         <div class="form__text-input"> *@
                    @*             <input type="text" name="card-holder" id="card-holder" placeholder="Card Holder" *@
                    @*                    class="form__input" required> *@
                    @*             <img src="~/assets/icons/form-error.svg" alt="" class="form__input-icon-error"> *@
                    @*         </div> *@
                    @*         <p class="form__error">Password must be at least 6 characters</p> *@
                    @*     </div> *@
                    @*     <div class="form__group"> *@
                    @*         <label for="card-details" class="form__label form__label--medium"> *@
                    @*             Card Details *@
                    @*         </label> *@
                    @*         <div class="form__text-input"> *@
                    @*             <input type="text" name="card-details" id="card-details" placeholder="Card Details" *@
                    @*                    class="form__input" required> *@
                    @*             <img src="~/assets/icons/form-error.svg" alt="" class="form__input-icon-error"> *@
                    @*         </div> *@
                    @*         <p class="form__error">Password must be at least 6 characters</p> *@
                    @*     </div> *@
                    @*     <div class="form__row cart-info__form-row"> *@
                    @*         <div class="form__group"> *@
                    @*             <div class="form__text-input"> *@
                    @*                 <input type="text" name="card-expire" id="card-expire" placeholder="MM/YY" *@
                    @*                        class="form__input" required> *@
                    @*                 <img src="~/assets/icons/form-error.svg" alt="" class="form__input-icon-error"> *@
                    @*             </div> *@
                    @*             <p class="form__error">Password must be at least 6 characters</p> *@
                    @*         </div> *@
                    @*         <div class="form__group"> *@
                    @*             <div class="form__text-input"> *@
                    @*                 <input type="text" name="card-cvc" id="card-cvc" placeholder="CVC" *@
                    @*                        class="form__input" *@
                    @*                        required> *@
                    @*                 <img src="~/assets/icons/form-error.svg" alt="" class="form__input-icon-error"> *@
                    @*             </div> *@
                    @*             <p class="form__error">Password must be at least 6 characters</p> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </form> *@
                    <div class="cart-info__row">
                        <span>Subtotal <span class="cart-info__sub-label">(items)</span></span>
                        <span>@Model.ProducsInCart.Count</span>
                    </div>
                    <div class="cart-info__row">
                        <span>Price <span class="cart-info__sub-label">(Total)</span></span>
                        <span>@string.Format("{0:N0}đ", subtotal)</span>
                    </div>
                    <div class="cart-info__row">
                        <span>Shipping</span>
                        <span>@string.Format("{0:N0}đ", 30000)</span>
                    </div>
                    <div class="cart-info__separate"></div>
                    <div class="cart-info__row">
                        <span>Estimated Total</span>
                        <span>@string.Format("{0:N0}đ", subtotal + 30000)</span>
                    </div>
                    <button style="width: 100%"
                            class="cart-info__next-btn btn btn--primary btn--rounded payment">
                        Pay @string.Format("{0:N0}đ", subtotal + 30000)</button>
                </div>
                <div class="cart-info">
                    <a href="#!">
                        <article class="gift-item">
                            <div class="gift-item__icon-wrap">
                                <img src="~/assets/icons/gift.svg" alt="" class="gift-item__icon">
                            </div>
                            <div class="gift-item__content">
                                <h3 class="gift-item__title">Send this order as a gift.</h3>
                                <p class="gift-item__desc">
                                    Available items will be shipped to your gift recipient.
                                </p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.querySelectorAll('.payment').forEach(button => {
        button.addEventListener('click', async (event) => {
            const response = await fetch(`/Payment/Payment`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (response.ok) {
                window.location.href = '/Home';
            }
        });
    });


</script>



