@model grocerymart.ViewModel.ProductViewModel

<link rel="stylesheet" href="~/css/checkout.css"/>

<div class="checkout-container">
    <div class="left">
        <div class="cart-info">
            <h1 class="cart-info__heading">Favourite List</h1>
            <p class="cart-info__desc">@Model.ProductLiked.Count items</p>
            <div class="cart-info__check-all">
                <label class="cart-info__checkbox">
                    <input type="checkbox" name="shipping-adress" class="cart-info__checkbox-input checked">
                </label>
            </div>
            <div class="cart-info__list">
                @foreach (var product in Model.ProductLiked)
                {
                    <div class="cart-item">
                        <label class="cart-info__checkbox">
                            <input type="checkbox" name="shipping-adress" class="cart-info__checkbox-input" checked="">
                        </label>
                        <a href="@Url.Action("Index", "Product", new { id = product.Id })">
                            <img src="@Url.Content(product.Img_url)" alt="" class="cart-item__thumb"/>
                        </a>
                        <div class="cart-item__content">
                            <div class="cart-item__content-left">
                                <h3 class="cart-item__title">
                                    @product.Name
                                </h3>
                                <p class="cart-item__price-wrap">
                                    @string.Format("{0:N0}đ", product.Price) | <span
                                        class="cart-item__status">In Stock</span>
                                </p>
                                <div class="cart-item__ctrl">
                                    <div class="cart-item__input">
                                        @product.Type
                                        @* <img *@
                                        @*     class="icon" *@
                                        @*     src="~/assets/icons/arrow-down-2.svg" *@
                                        @*     alt=""/> *@
                                    </div>
                                    @* <div class="cart-item__input"> *@
                                    @*     <button class="cart-item__input-btn"> *@
                                    @*         <img class="icon" src="~/assets/icons/minus.svg" alt=""/> *@
                                    @*     </button> *@
                                    @*     <span>Quantity</span> *@
                                    @*     <button class="cart-item__input-btn"> *@
                                    @*         <img class="icon" src="~/assets/icons/plus.svg" alt=""/> *@
                                    @*     </button> *@
                                    @* </div> *@
                                    @* <button class="cart-item__ctrl-btn"> *@
                                    @*     <img src="~/assets/icons/heart-2.svg" alt=""/> *@
                                    @*     Save *@
                                    @* </button> *@
                                    <button class="cart-item__ctrl-btn" data-product-id="@product.Id">
                                        <img src="~/assets/icons/trash.svg" alt=""/>
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="cart-item__content-right">
                                <p class="cart-item__total-price">@string.Format("{0:N0}đ"
                                                                      , product.Price)</p>
                                <button class="cart-item__checkout-btn btn btn--primary btn--rounded">
                                    Check Out
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="cart-info__bottom d-md-none">
                <div class="cart-row">
                    <div class="cart-info__row cart-info__row-md--block">
                        <div class="cart-info__continue">
                            <a class="cart-info__continue-link" asp-action="Index" asp-controller="Home">
                                <img
                                    class="cart-info__continue-icon icon"
                                    src="~/assets/icons/arrow-down-2.svg"
                                    alt=""/>
                                Continue Shopping
                            </a>
                        </div>
                        <a asp-action="Index" asp-controller="Checkout"
                           class="cart-info__checkout-all btn btn--primary btn--rounded">
                            All Check Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
<script>
    document.querySelectorAll('.cart-item__ctrl-btn').forEach(button => {
        button.addEventListener('click', async (event) => {
            const productId = button.getAttribute('data-product-id');
            const response = await fetch(`/FavouriteList/RemoveFromFavourite?product_id=${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });
        });
    });

    connection.on("LikedProductsChanged", (products) => {
        // Locate the container to update
        const cartPreviewContainer = document.querySelector('.cart-info__list');

        // Clear existing items
        cartPreviewContainer.innerHTML = '';

        // Add new items
        products.forEach(product => {
            const cartItem = document.createElement('div');
            cartItem.classList.add('cart-item');
            cartItem.innerHTML = `
                <label class="cart-info__checkbox">
                    <input type="checkbox" name="shipping-adress" class="cart-info__checkbox-input" checked>
                </label>
                    <a href="/Product/Index/${product.id}" class="cart-item__link">

                    <img src="${product.img_url}" alt="" class="cart-item__thumb"/>
                </a>
                <div class="cart-item__content">
                    <div class="cart-item__content-left">
                        <h3 class="cart-item__title">
                            ${product.name}
                        </h3>
                        <p class="cart-item__price-wrap">
                            ${new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD'
            }).format(product.price)} | <span class="cart-item__status">In Stock</span>
                        </p>
                        <div class="cart-item__ctrl">
                            <div class="cart-item__input">
                                ${product.type}
                            </div>
                            <button class="cart-item__ctrl-btn" data-product-id="${product.id}">
                                <img src="./assets/icons/trash.svg" alt=""/>
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="cart-item__content-right">
                        <p class="cart-item__total-price">${new Intl.NumberFormat('vi-VN').format(product.price) + 'đ'}</p>
                        <button class="cart-item__checkout-btn btn btn--primary btn--rounded">
                            Check Out
                        </button>
                    </div>
                </div>
            `;
            cartPreviewContainer.appendChild(cartItem);
        });
    });

    connection.on("ReceiveLikedProducts", (count) => {
        const likedProductsElement = document.querySelector(".cart-info__desc");
        if (likedProductsElement) {
            likedProductsElement.textContent = `${count} items`;
        }
    });

</script>
